body {
  width: 100%;
    font-family: 'Share Tech Mono', sans-serif;
    background: url("../images/tiger-bg.svg");
    background-position:center;
    background-repeat: round;
    color: #0c4bff;

}

.respond {
    width: 100%;
}

h2 {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 36px;
    color: #0c4bff !important;
}
h3 {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 28px;
    color: #2e2e2e !important;
}

p {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2;
    color: #2e2e2e;
}
a {
    color: #0c4bff;
}
a:hover {
    color: #c61f1f;
}
li {
    font-size: 20px;
    color: #2e2e2e;
}
.header {
    position: absolute;
    top: 15px;
    left: 25px;
    background: transparent;
    width: 100%;
}
.logo {
    width: 100px;
    display: block;
}
.menu {
    display: inline;
    float: left;
}
.menu a {
  color: #ffffff;
}
.menu a:hover {
    color: #c61f1f;
}
.heading2 {
    text-transform: uppercase;
    letter-spacing: 20px;
}
.center-text {
    text-align: center;
}

.large-top-spacer {
    margin-top: 30px;
}
.small-top-spacer {
    margin-top: 25px;
}

ul.icon-list {
    list-style: none;
    padding-left: 0px;
}

ul.icon-list li {
    display: inline;
    padding-right: 10px;
}
ul.icon-list li img {
    width: 50px;
    text-align: center;
}

.white {
    color: #fff;
}

footer {
    height: 60px;
}

@media screen and (min-width: 600px) {
    .large-top-spacer {
        margin-top: 100px;
    }
    .small-top-spacer {
        margin-top: 40px;
    }
    ul.icon-list li {
        padding-right: 25px;
    }
    ul.icon-list li img {
        width: 80px;
    }
    .logo {
        width: 350px;
    }
}
