body {
    font-family: 'Share Tech Mono', sans-serif;
    background: url(../images/bg.jpg)top left no-repeat;
    color: #0c4bff;

}

.respond {
    width: 100%;
}

h2 {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 36px;
    color: #0c4bff !important;
}
h3 {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 28px;
    color: #0c4bff !important;
}

p {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2;
    color: #0c4bff !important;
}
li {
    font-size: 20px;
}

.heading2 {
    text-transform: uppercase;
    letter-spacing: 20px;
}
.center-text {
    text-align: center;
}

.large-top-spacer {
    margin-top: 30px;
}
.small-top-spacer {
    margin-top: 25px;
}

ul.icon-list {
    list-style: none;
    padding-left: 0px;
}

ul.icon-list li {
    display: inline;
    padding-right: 10px;
}
ul.icon-list li img {
    width: 50px;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .large-top-spacer {
        margin-top: 100px;
    }
    .small-top-spacer {
        margin-top: 40px;
    }
    ul.icon-list li {
        padding-right: 25px;
    }
    ul.icon-list li img {
        width: 80px;
    }
}
